.all-encompassingz{
  margin: 0 auto;
  width: 600px;
}
.yellz {
  text-align: center;
}

.describingz {
  margin-top: 30px;
  font-size: 20px;
}

.demandingz {
  margin-top: 40px;
  font-size: 30px;
  font-family: bold;
}

.magnifyz {
  margin-top: 40px;
  text-align: center;
}
